<?xml version="1.0"?>
<config
Author="Gonzalo Paniagua Javier (&#103;&#111;&#110;&#122;&#97;&#108;&#111;&#64;&#120;&#105;&#109;&#105;&#97;&#110;&#46;&#99;&#111;&#109;)"
BlogDirectory="/home/gonzalo/activity/entries"
Prefix="/home/gonzalo/activity/output"
BlogFileName="index.html"
BlogImageBasedir="http://primates.ximian.com/~gonzalo/mono/blog/images/"
BlogWebDirectory="http://primates.ximian.com/~gonzalo/mono/blog/"
Copyright="Gonzalo Paniagua Javier"
Description="Gonzalo Paniagua's web log"
ManagingEditor="&amp;#103;&amp;#111;&amp;#110;&amp;#122;&amp;#97;&amp;#108;&amp;#111;&amp;#64;&amp;#120;&amp;#105;&amp;#109;&amp;#105;&amp;#97;&amp;#110;&amp;#46;&amp;#99;&amp;#111;&amp;#109;"
Title="Gonzalo's Blog"
RSSFileName="gonzalo"
InputEncoding="latin1"
OutputEncoding="utf-8"
AnalyticsStub="analytics"
/>
