<?xml version="1.0"?>
<config
Author="miguel@xamarin.com (Miguel de Icaza)"
BlogDirectory="/Users/miguel/activity"
BlogFileName="index.html"
BlogWebDirectory="http://tirania.org/blog/"
BlogImageBasedir="http://tirania.org/"
Copyright="Miguel de Icaza"
Description="Personal blog of Miguel de Icaza"
ManagingEditor="miguel@xamarin.com"
Title="Miguel de Icaza"
RSSFileName="miguel"
InputEncoding="utf-8"
OutputEncoding="utf-8"
AnalyticsStub="analytics"
CommentsStub="comments"
EntrySpecific="entry-specific"
ImageDirectory="/Users/miguel/upload/pictures"
ThumbnailCommand="convert -scale 400 {0} {1}"
/>
