
  #entries {
        font-size: 12pt;
	margin-left: 2em;
	margin-right: 140pt;
  }

  #entries h2 {
	background-color: #ddddff;
  }

  #sidebar {
	float: right;
	right:10px;
	width: 120pt;
  }

  #title {
	background-color: #ccccff;
  }

  .code { border-style: solid; background: #ddddff;
	border-width: 1px; padding: 2pt; }

  .shell { border-style: solid; background: #000000; color: #bbbbbb;
	#777777; border-width:
	1px; padding: 2pt; }

A.entryTitle:link {
text-decoration       : none;
color                 : 003382;
}

A.entryTitle:visited {
text-decoration       : none;
color: black;
}

.code-xml, .code-csharp
{
	margin:15px;
	padding:15px;
	font-size: small;
	font-family: "Courier New", Courier;
	background:whitesmoke;
	border: solid 1px silver;
	line-height:110%;
}
