h1 {
	color: #efefef;
	font-size: 14pt;
	font-family: "Trebuchet MS";
	border: 0;
	margin: 0;
	padding: 1em;
	background: #666666;
}

h2, h3, h4, h5, h6 {
	font-family: Verdana,sans-serif;
	font-weight: bold;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 13px;
	border-bottom: 2px solid #dddddd;
}

h3 a {
	color: black;
	text-decoration: none;
}

blockquote {
	border-left: 1px solid;
	padding-left: 1em;
}

body, table {
	background-color: #ffffff;
	font-family: Verdana, sans-serif; 
	color: black;
	margin: 0;
	padding: 0;
	border: 0;
}

.blogentry {
	margin-left: 1em;
	margin-right: 2em;
}

.blogentry h1, .blogentry h2, .blogentry h3 {
	padding: 0;
	margin: 0;
	border: 0;
}	

.footer {
	margin-left: 0em;
	margin-bottom: 1em;
}

img {
	border: 0;
	vertical-align: top;
}

.code, .xml , .script
{
	margin:15px;
	padding:15px;
	font-size: small;
	font-family: "Courier New", Courier;
	background:whitesmoke;
	border: solid 1px silver;
	line-height:110%;
}

#blogs { 
	margin-left: 2em;
	margin-right: 140pt;
}
#bloggers {
	float: right;
	width: 120pt;
}

#bloggers h2 {
	margin-left:0;
	font-size: 12px;
}
#bloggers ul {
	padding:0;
	list-style-type:none;
}

.code-xml, .code-csharp
{
	margin:15px;
	padding:15px;
	font-size: small;
	font-family: "Courier New", Courier;
	background:whitesmoke;
	border: solid 1px silver;
	line-height:110%;
}

.shell { 
	border-style: solid; background: #000000; color: #eeeeee;
	#777777; border-width:
	1px; padding: 2pt; 
	margin:15px;
}

