.code-xml, .code-csharp
{
        margin: 1em 0;
	padding:.5em 1em;
	font-size: 10pt;
	font-family: "Consolas", "Courier New", Courier;
	background:whitesmoke;
	border: solid 1px silver;
	line-height:110%;
	overflow: auto;
}

.shell { 
	border-style: solid; background: #000000; color: #eeeeee;
	border-width: 1px; padding: 2pt; 
	margin:15px;
}

.separator {
	border-bottom: 1px dotted #aaaaaa; padding-top: 1em; padding-bottom: 1em;
}

