.code-xml, .code-csharp
{
        margin: 1em 0;
	padding:.5em 1em;
	font-size: 10pt;
	font-family: "Consolas", "Courier New", Courier;
	background:whitesmoke;
	border: solid 1px silver;
	line-height:110%;
	overflow: auto;
}

.shell { 
	border-style: solid; background: #554f55; color: #eee;
	border-width: 1px; padding: 1em; 
	margin:15px;
}

.separator {
	border-bottom: 1px dotted #aaaaaa; padding-top: 1em; padding-bottom: 1em;
}

pre {
	border: solid 1px silver;
}

p code, li code {
	white-space: nowrap;
	border: #d3d3d3 1px solid;
	padding: 0 1px 0 1px;
	background-color: #eee;
}

h2 {
	border-bottom: silver 1px solid;
	padding-top: .5em;
	margin-bottom: .5em;
}